<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <img src="/images/Cauldron_sprite_003.png" height="45" width="58" alt="Not found" class="mr-4">
        <a class="navbar-brand" href="/">The Recipes Cauldron </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
        {{!--         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div> --}}
        {{#unless user}}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">Register</a>
                </li>
            </ul>
        {{/unless}}
        {{#if user}}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Recipes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ideas">Recipes List</a>
                        <a class="dropdown-item" href="/ideas/add">Add Another Recipe</a>
                        {{!--                         <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> --}}
                    </div>
                </li>
            </ul>
        {{/if}}
    </div>
</nav>