<div class="jumbotron text-center Quote">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Jot down ideas for your next recipes!</p>
    <p class="lead">
        <a class="btn btn-outline-success btn-lg" href="/ideas/add" role="button">Add recipe</a>
    </p>
</div>